*.swp
shmlast/*.swp

shmlast/__pycache__
shmlast/tests/__pycache__
*.pyc
.eggs
.cache
*.pdf

*.doit.db.db
*.db.bak
*.db.dir
*.db.dat

build/
dist/
shmlast.egg-info
perf/

.ipynb_checkpoints/

*.csv
data/

.pytest_cache
.coverage
