language: python
sudo: required
dist: trusty
python:
  - "3.4"
  - "3.5"
  - "3.6"
before_script:
  - curl -LO http://last.cbrc.jp/last-658.zip
  - unzip last-658.zip
  - pushd last-658 && make && sudo make install && popd
before_install:
  - sudo apt-get -qq update
# command to install dependencies
install:
  - sudo apt-get update
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - curl -O http://ftp.gnu.org/gnu/parallel/parallel-20160822.tar.bz2
  - tar -xvjf parallel-20160822.tar.bz2
  - pushd parallel-20160822 && ./configure && make && sudo make install && popd
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a
  - conda create -q -n test python=$TRAVIS_PYTHON_VERSION numpy scipy pandas matplotlib pytest-cov pytest pytest-runner coverage sphinx nose seaborn
  - source activate test
  - pip install git+git://github.com/ionelmc/pytest-benchmark.git#egg=pytest-benchmark
  - pip install -U codecov 
  - python setup.py install
# command to run tests
script: py.test --cov shmlast
after_success: codecov --token=9f900c67-c5a8-4adc-a110-53ef2b41f224
